.redir i{
    font-size:20px;
    color:var(--main-color);
}
.lar.la-edit{
    font-size: 35px;
    color:var(--main-color)
}
.trash-bt{
    background: none;
    border: none;

}
.las.la-trash{
    font-size: 35px;
    color:#f00;
}
